<div class="card">
    <div class="header text-center">
        <h4 class="title title-up">
            Ввести номер телефона
        </h4>
    </div>
    <div class="card-body">
        <div class="input-group form-group-no-border">
            <span class="input-group-addon">
                <i class="now-ui-icons tech_mobile"></i>
            </span>
            <input type="text" class="form-control input-lg" placeholder="" ui-mask="{{'(999) 999-9999'}}" ng-model="phone">
        </div>
        <div class="terminal-keyboard">
            <div class="container">
                <button class="btn btn-primary btn-lg btn-icon btn-round">1
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">2
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">3
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">4
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">5
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">6
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">7
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">8
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">9
                </button>
                <button class="btn btn-primary btn-lg btn-icon btn-round">0
                </button>
                <button class="btn btn-default btn-lg btn-icon btn-round">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
        </div>
    </div>
</div>
