<div class="terminal-header">
    <div class="page-top clearfix" scroll-position="scrolled" max-height="50">
        <a href="/" class="al-logo clearfix"><span>Advanced</span>Terminal</a>
        
        <div class="search">
            <i class="ion-ios-search-strong"></i>
            <input id="searchInput" type="text" placeholder="Search for...">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="" data-placement="bottom" data-original-title="Designed by Invision. Coded by Creative Tim">
                    Advanced Terminal
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="now-ui-icons gestures_tap-01"></i>
                            <p>Главаная</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Справка</p>
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
</div>