<div class="terminal-container container" ng-controller="terminalController">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div ng-repeat="mobileProvider in mobileProviders" class="card">
                        <div class="header text-center">
                            <h4 class="title title-up">
                                Jgthfnjh
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <terminal-keyboard></terminal-keyboard>                
            </div>
        </div>
    </div>
</div>